{% extends 'layout/header.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('delete_confirmation') }}
{% endblock %}

{% block content %}

    <main class="container">
        <h1 class="mt-4 mb-4">Pacientes</h1>
        <hr>
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.surnames }}</td>
                        <td>{{ patient.phoneNumber }}</td>
                        <td>
                            <a class="btn btn-secondary" href="{{ path('patient_details', {id: patient.id}) }}">Detalles</a>
                            {% if is_granted('ROLE_PSYC') %}
                                <a class="btn btn-success" href="{{ path('associated_test_create', {id: patient.id}) }}">Asignar Test</a>
                            {% endif %}
                            <a class="btn btn-warning" href="{{ path('patient_update', {id: patient.id}) }}">Editar</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_confirmation_modal">
                                Eliminar
                            </button>
                        </td>
                    </tr>

                    <div class="modal fade" id="delete_confirmation_modal" tabindex="-1" aria-labelledby="delete_confirmation_modal_label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete_confirmation_modal_label">Eliminar Paciente</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Eliminar definitivamente el Paciente {{ patient.name~' '~patient.surnames }}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="delete_confirmation_btn btn btn-danger" data-href="{{ path('patient_remove', {id: patient.id}) }}">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>

        {# {% if is_granted('ROLE_PSYC') %} #}
        {% if has_role(['ROLE_ADMIN', 'ROLE_PSYC']) %}
            <a href="{{ path('patient_create') }}">Añadir nuevo paciente</a>
        {% endif %}
    </main>
{% endblock %}