{% extends 'layout/header.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('delete_confirmation') }}
{% endblock %}

{% block content %}

    <main class="container">
        {% for message in app.flashes('notice') %}
            <div class="row justify-content-md-center">
                <div class="flash-notice alert alert-success col col-lg-4 m-3 text-center">{{ message }}</div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="h1 col-9 mt-4 mb-4">Pacientes</div>

            <div class="col-3 mt-5 mb-4">
                {% if is_granted('ROLE_PSYC') %}
                    <a class="btn btn-light primary" href="{{ path('patient_create') }}"><i class="fas fa-user-plus"></i> Añadir nuevo paciente</a>
                {% endif %}
            </div>
        </div>

        <hr>

        <table class="table">
            <thead class="table-light">
                <tr>
                    <th class="col-3">Nombre</th>
                    <th class="col-3">Apellidos</th>
                    <th class="col-2">Teléfono</th>
                    <th class="col-4 text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.surnames }}</td>
                        <td >{{ patient.phoneNumber }}</td>
                        <td class="text-center">
                            <a class="btn btn-light success" href="{{ path('patient_details', {id: patient.id}) }}">
                                <i class="fa-solid fa-circle-info"></i> Detalles
                            </a>
                            {% if is_granted('ROLE_PSYC') %}
                                <a class="btn btn-light test" href="{{ path('associated_test_create', {id: patient.id}) }}">
                                    <i class="fa-solid fa-file-signature"></i> Asignar Test
                                </a>
                                <a class="btn btn-light warning" href="{{ path('patient_update', {id: patient.id}) }}">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a class="btn btn-light danger"  data-bs-toggle="modal" data-bs-target="#delete_confirmation_modal_{{patient.id}}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>

                    <div class="modal fade" id="delete_confirmation_modal_{{patient.id}}" tabindex="-1" aria-labelledby="delete_confirmation_modal_label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete_confirmation_modal_label">Eliminar Paciente</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Eliminar definitivamente el Paciente {{ patient.name~' '~patient.surnames }}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light primary" data-bs-dismiss="modal"><i class="fa-solid fa-ban"></i> Cancelar</button>
                                    <a class="btn btn-light danger" href="{{ path('patient_remove', {id: patient.id}) }}">
                                        <i class="fa-solid fa-trash"></i> Eliminar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}