{% extends 'base.html.twig' %}

{% block content %}
    <main class="container mb-4">
        <div class="row align-items-center mt-3 mb-4">
            <div class="col-md-2">
                 <img class="img-fluid rounded-circle" src="{{ app.user.photo }}" alt="Profile photo" width="170">  
            </div>
            <div class="display-6 col-10 mt-5 mb-4">{{ app.user.name~' '~app.user.surnames }}</div>
        </div>

        <hr>

        <div class="row m-2 pt-4">
            <div class="col-5">
                <span class="text-primary fw-bold">DNI</span>
                <p>{{ app.user.dni }}</p>
            </div>
            <div class="col-5">
                <span class="text-primary fw-bold">Fecha de nacimiento</span>
                <p>{{ app.user.birthDate|date('d-m-Y') }}</p>
            </div>
        </div>

        <div class="row m-2 pt-4">
            <div class="col-5">
                <span class="text-primary fw-bold">Teléfono</span>
                <p>{{ app.user.phoneNumber }}</p>
            </div>
            <div class="col-5">
                <span class="text-primary fw-bold">Email</span>
                <p>{{ app.user.email }}</p>
            </div>
        </div>
    </main>
{% endblock %}