{% extends 'base.html.twig' %}

{% block content %}
    <main class="container">
        <div class="row align-items-center mt-3 mb-4">
            <div class="col-md-2 mt-3">
                 <img class="rounded-circle" src="{{ app.user.photo }}" alt="Profile photo" width="170">  
            </div>
            <div class="col-md-10">
                <p class="display-6 mt-5 mb-4">{{ app.user.name~' '~app.user.surnames }}</p>
                <p class="dark font-italic"><i>Administrador</i></p>
            </div>
        </div>

        <hr>

        <div class="row m-2 pt-4">
            <div class="col-5">
                <span class="text-primary">DNI</span>
                <p>{{ app.user.dni}}</p>
            </div>
            <div class="col-5">
                <span class="text-primary">Fecha de nacimiento</span>
                <p>{{ app.user.birthdate|date('d-m-Y')}}</p>
            </div>
        </div>

        <div class="row m-2 pt-4">
            <div class="col-5">
                <span class="text-primary">Teléfono</span>
                <p>{{ app.user.phoneNumber }}</p>
            </div>
            <div class="col-5">
                <span class="text-primary">Email</span>
                <p>{{ app.user.email }}</p>
            </div>
        </div>
    </main>
{% endblock %}