{% extends 'base.html.twig' %}

{% block content %}
   <main class="container mb-3">
        <div class="row">
            <div class="h1 col-9 mt-4 mb-4">Listado de Notificaciones</div>
            <hr>
        </div>

        <div class="row">
            {% if notifications is empty %}
                <h4 class="mt-5 pt-5 text-center text-muted fw-bold">No hay ninguna notificación</h4>
                <i class="fa-solid fa-inbox fa-4x text-muted mt-3"></i>
            {% endif %}

            {% for notification in notifications %}
                <div class="col-2 mt-2 mb-2 dark text-center"> 
                    <p>{{ notification.date|date('d-m-Y') }} a las {{ notification.date|date('H:i') }}</p>
                </div>
                <div class="col-10 mt-2 mb-4">
                    <p> 
                    {% if notification is associated_test %}
                        El psicólogo 
                        <a href="{{ path('psychologist_details', {id: notification.patient.psychologist.id}) }}">
                            {{ notification.patient.psychologist.name }} {{ notification.patient.psychologist.surnames }}
                        </a> 
                        ha asociado el test <a href="{{ path('test_details', {id: notification.test.id}) }}">{{ notification.test.name }}</a>  
                        al paciente 
                        <a href="{{ path('patient_details', {id: notification.patient.id}) }}">
                            {{ notification.patient.name }} {{ notification.patient.surnames }}
                        </a> 

                    {% else %}
                        El paciente 
                        <a href="{{ path('patient_details', {id: notification.associatedTest.patient.id}) }}">
                            {{ notification.associatedTest.patient.name }} {{ notification.associatedTest.patient.surnames }}
                        </a>  
                        ha realizado el test 
                        <a href="{{ path('test_details', {id: notification.associatedTest.test.id}) }}">{{ notification.associatedTest.test.name }}</a>  
                    {% endif %}
                    </p>
                </div>             
            {% endfor %}
        </div>
    </main>
{% endblock %}
