{% extends 'layout.html.twig' %}

{% block content %}
    <main class="container">
        <h1 class="mt-4 mb-4">Psicólogos</h1>
        <h2>Detalles</h2>
        <hr>
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Teléfono</th>
                    <th>Estudios</th>
                    <th>Especialización</th>
                    <th>Número de Colegiación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ psychologist.name }}</td>
                    <td>{{ psychologist.surnames }}</td>
                    <td>{{ psychologist.phoneNumber }}</td>
                    <td>{{ psychologist.education }}</td>
                    <td>{{ psychologist.specialization }}</td>
                    <td>{{ psychologist.collegiateNumber }}</td>
                </tr>
            </tbody>
        </table>

        <p><a href="{{ path('psychologist_update', {id: psychologist.id}) }}">Editar</a></p>
        <p><a href="{{ path('psychologist_remove', {id: psychologist.id}) }}">Eliminar</a></p>
        <p><a href="{{ path('psychologists_list') }}">Volver al listado de Psicólogos</a></p>
    </main>
{% endblock %}