{% extends 'base.html.twig' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="display-6 col-10 mt-5 mb-5">{{ psychologist.name~' '~psychologist.surnames}}</div>

            <div class="col-2 mt-5 mb-4">
                <a class="btn btn-light warning" href="{{ path('psychologist_update', {id: psychologist.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="btn btn-light danger" data-bs-toggle="modal" data-bs-target="#delete_confirmation_modal"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>
        
        <div class="row m-2 pt-4">
            <h4>Información Personal</h4>
            <hr>
            <div class="col-5">
                <span class="text-primary fw-bold">DNI</span>
                <p>** actualizar BBDD</p>
            </div>
            <div class="col-5">
                <span class="text-primary fw-bold">Fecha de nacimiento</span>
                <p>** actualizar BBDD</p>
            </div>
        </div>

        <div class="row m-2">
            <div class="col-5">
                <span class="text-primary fw-bold">Teléfono</span>
                <p>{{ psychologist.phoneNumber }}</p>
            </div>
            <div class="col-5">
                <span class="text-primary fw-bold">Email</span>
                <p>{{ psychologist.email }}</p>
            </div>
        </div>

        <div class="row m-2 pt-4">
            <h4>Información Académica</h4>
            <hr>
            <div class="col">
                <span class="text-primary fw-bold">Estudios</span>
                <p>{{ psychologist.education }}</p>

                <span class="text-primary fw-bold">Número de Colegiación</span>
                <p>{{ psychologist.collegiateNumber }}</p>

                <span class="text-primary fw-bold">Especialización</span>
                <p>{{ psychologist.specialization }}</p>
            </div>
        </div>

        <div class="modal fade" id="delete_confirmation_modal" tabindex="-1" aria-labelledby="delete_confirmation_modal_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete_confirmation_modal_label">Eliminar Psicólogo</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Eliminar definitivamente el Psicólogo/a {{ psychologist.name~' '~psychologist.surnames }}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light primary" data-bs-dismiss="modal">Cancelar</button>
                        <a class="btn btn-light danger" href="{{ path('psychologist_remove', {id: psychologist.id}) }}">Eliminar</a>
                    </div>
                </div>
             </div>
        </div>
    </main>
{% endblock %}