{% extends 'layout/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('delete_confirmation') }}
{% endblock %}

{% block content %}
    <main class="container">
        <h1 class="mt-4 mb-4">Psicólogos</h1>
        <hr>
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Especialización</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for psychologist in psychologists %}
                    <tr>
                        <td>{{ psychologist.name }}</td>
                        <td>{{ psychologist.surnames }}</td>
                        <td>{{ psychologist.phoneNumber }}</td>
                        <td>{{ psychologist.specialization }}</td>
                        <td>
                            <a href="{{ path('psychologist_details', {id: psychologist.id}) }}">Detalles</a>
                            <a href="{{ path('psychologist_update', {id: psychologist.id}) }}">Editar</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_confirmation_modal">
                                Eliminar
                            </button>
                        </td>
                    </tr>

                    <div class="modal fade" id="delete_confirmation_modal" tabindex="-1" aria-labelledby="delete_confirmation_modal_label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete_confirmation_modal_label">Eliminar Psicólogo</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Eliminar definitivamente el Psicólogo/a {{ psychologist.name~' '~psychologist.surnames }}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="delete_confirmation_btn btn btn-danger" data-href="{{ path('psychologist_remove', {id: psychologist.id}) }}">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('psychologist_create') }}">Añadir nuevo psicólogo</a>
    </main>
{% endblock %}