{% extends 'base.html.twig' %}

{% block body %}
   
   <nav class="navbar navbar-expand navbar-light bg-light static-top mb-4 shadow">
      <div class="container-fluid">
      
         <a class="navbar-brand" href="{{ path('dashboard') }}">
            {# assets/images/logoLight.png was copied to public/build/images/logoLight.png #}
            <img src="{{ asset('build/images/logoLight.png') }}" width="200" alt="PSY-A logo">
         </a>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
               <li class="nav-item">
                  <a class="nav-link small" href="#">Notificaciones</a>
               </li>
            </ul>
            
            <div class="dropdown">
               <button class="btn btn-profile dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ app.user.name }}
                  <img class="img-profile rounded-circle" src="{{ asset('build/images/undraw_profile.svg') }}" width="30">
               </button>
               
               <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar Sesión</a></li>
               </ul>
            </div>
         </div>
      </div>
   </nav>   

   {% include 'layout/menu.html.twig' %}
   
   {% block content %}{% endblock %}

{% endblock %}